/* Modal.css */

/* Overlay styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  /* Modal content styles */
  .modal-content {
    background-color: #0f1214; /* White background for the modal */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the modal */
    width: 550px; /* Fixed width */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) */
    position: relative; /* Positioning for close button */
    height: 660px;
  }
  
  /* Close button styles */
  .modal-close {
    position: absolute; /* Positioning relative to modal content */
    top: 10px; /* Distance from top */
    right: 10px; /* Distance from right */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .close-icon {
    filter: invert(45%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(90%) contrast(100%);
  }